[core]
  editor = /usr/bin/vim
  excludesfile = /Users/roy/.gitignore_global
  autocrlf = input
[user]
  name = "Jay Swain"
  email = jswain@gitlab.com
	signingkey = D0C68E2C6CAB75AB
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[merge]
  tool = opendiff
[alias]
  st = status
  br = branch
  put = push origin HEAD
  co = checkout
[init]
	templatedir = /Users/roy/.git-template-with-git-hooks
[commit]
	gpgsign = true
[gpg]
	program = gpg
